/* Font Style */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* banner part */
.banner {
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 50px auto;
}
.banner-info {
  text-align: center;
  padding: 30px 220px;
  color: #0D1321;
}
.banner-title {
  font-size: 48px;
  font-weight: 800;
  
}
.banner-description, .answer-why-development{
    font-size: 16px;
}
.contact-btn{
    font-size: 20px;
    font-weight: 600;
    background-color: #0D1321;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}

/* ------------------ */
.why-development{
    background-color: #0D132105;
    padding: 80px 100px;
    max-width: 1140px;
    margin: 50px auto;
    color: #0D1321;
}
.about-development{
    text-align: center;
}
.questin-about-development{
    font-size: 32px;
    font-weight: 800;

}